*{
    margin: 0;
    padding: 0;
}
header{
    height: 100px;
    overflow: hidden;
    text-align: center;
}
.logo{
    background-color: cadetblue;
    width: 20%;
    height: 100%;
    float: left;

}
nav{
    background-color: darkcyan;
    float: left;
    width: 80%;
    height: 100%;

}
section{
    overflow: hidden;
    text-align: center;
    height: 200px;


}
.left-content{
    float: left;
    height: 100%;
    width: 60%;
    text-align: center;

}
.upper{
    background-color: darkgray;
    height: 30%;
    width: 100%

}
.middle{
    background-color: darkcyan;
    height: 40%;
    width: 100%;

}
article{
background-color: darkgray;
height: 30%;
width: 100%;
}
.right-content{
    height: 100%;
    width: 40%;
    float: left;
    background-color: cadetblue;

}
footer{
    height: 80px;
    width: 100%;
    background-color: darkcyan;
    text-align: center;

}